* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* sfondo */
body {
  background-image: url(../img/bg.jpg);
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* blocco principale */
main {
  height: 95%;
  width: 80%;
  background-color: red;
  display: flex;
}

/* navigazione chat */
nav {
  height: 100%;
  width: 35%;
  background-color: blue;
  display: flex;
  flex-direction: column;
}

.navmenu {
  background-color: orange;
}

.profile {
  height: 70px;
  background-color: cyan;
  display: flex;
  justify-content: space-between;
}

.profilepic {
  height: 100%;
  background-color: green;
  width: 100px;
}

.profileoptions {
  height: 100%;
  background-color: black;
  width: 150px;
}

.notifications {
  height: 80px;
  background-color: purple;
  display: flex;
  justify-content: center;
}

.notificationsicon {
  width: 50px;
  height: 100%;
  background-color: red;
}

.notificationsinfo {
  width: 220px;
  height: 100%;
  background-color: brown;
}

.search {
  height: 50px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  height: calc(100% - 70px - 50px - 80px) ;
  background-color: green;
  overflow-y: scroll;
}

.pippo {
  height: 80px;
  background-color: yellow;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactpic {
  height: 100%;
  width: 80px;
  background-color: cyan;
}

.contactpreview {
  height: 100%;
  width: 200px;
  background-color: lightgreen;
}

/* chat */
.chat {
  height: 100%;
  width: 65%;
  background: yellow;
}

.chatinfo {
  height: 70px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
}

.contactinfo {
  height: 70px;
  background-color: blue;
  width: 30%;
}

.contactoptions {
  height: 70px;
  background-color: red;
  width: 30%;
}

.conversation {
  height: calc(100% - 70px - 70px);
  background-color: orange;
  overflow-y: scroll;
}

.sendmsg {
  height: 70px;
  background-color: blue;
  display: flex;
  justify-content: space-around;
}

.emotes {
  height: 100%;
  width: 80px;
  background-color: brown;
}

.sendmsg input {
  height: 100%;
  width: calc(100% - 160px);
  background-color: green;
}

.mic {
  height: 100%;
  width: 80px;
  background-color: darkblue;
}
