* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* sfondo */
body {
  background-image: url(../img/bg.jpg);
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* blocco principale */
main {
  height: 95%;
  width: 80%;
  background-color: red;
  display: flex;
}

/* navigazione chat */
nav {
  height: 100%;
  width: 35%;
  background-color: white;;
  display: flex;
  flex-direction: column;
}

.navmenu {
  background-color: rgb(240, 240, 240);
}

.profile {
  height: 70px;
  background-color: rgb(230, 228, 229);
  display: flex;
  justify-content: space-between;
}

.profilepic {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilepic img {
  height: 50px;
  border-radius: 100%;
}

.profileoptions {
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  color: gray;
}

.notifications {
  height: 80px;
  background-color: #8EDAFC;
  display: flex;
  justify-content: center;
}

.notificationsicon {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificationscircle {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 100%;
  color: #8EDAFC;
}

.notificationsinfo {
  width: 280px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.notificationsinfo p {
  font-size: 18px;
}

.notificationsinfo u {
  color: rgb(65, 65, 65);
}

.search {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search label{
  background-color: white;
  width: 50px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.search input {
  height: 36px;
  width: 320px;
  font-size: 17px;
}

.contacts {
  height: calc(100% - 70px - 50px - 80px) ;
  overflow-y: scroll;
}

.pippo {
  height: 80px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#activechat {
  background-color: #E9EBEB;
}

.contactpic {
  height: 100%;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactpic img {
  border-radius: 100%;
  width: 65px;
  height: 65px;
}

.contactpreview {
  height: 100%;
  width: 270px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.contactpreview p {
  color: gray;
  font-size: 14px;
}

.contactpreview h3 {
  font-size: 20px;
}

/* chat */
.chat {
  height: 100%;
  width: 65%;
  background: yellow;
}

.chatinfo {
  height: 70px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
}

.contactinfo {
  height: 70px;
  background-color: blue;
  width: 30%;
}

.contactoptions {
  height: 70px;
  background-color: red;
  width: 30%;
}

.conversation {
  height: calc(100% - 70px - 70px);
  background-color: orange;
  overflow-y: scroll;
}

.sendmsg {
  height: 70px;
  background-color: blue;
  display: flex;
  justify-content: space-around;
}

.emotes {
  height: 100%;
  width: 80px;
  background-color: brown;
}

.sendmsg input {
  height: 100%;
  width: calc(100% - 160px);
  background-color: green;
}

.mic {
  height: 100%;
  width: 80px;
  background-color: darkblue;
}
