/* regole generali */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  border-radius: 100%;
}

i {
  cursor: pointer;
}

/* sfondo */
body {
  background-image: url(../img/bg.jpg);
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* blocco principale */
main {
  height: 95%;
  width: 1093px;
  display: flex;
}

/* navigazione chat */
nav {
  height: 100%;
  width: calc(100% - 710px);
  background-color: white;;
  display: flex;
  flex-direction: column;
}

.navmenu {
  background-color: rgb(240, 240, 240);
}

.profile {
  height: 70px;
  background-color: rgb(230, 228, 229);
  display: flex;
  justify-content: space-between;
}

.profilepic {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilepic img {
  height: 50px;
}

.profileoptions {
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  color: gray;
}

.notifications {
  height: 80px;
  background-color: #8EDAFC;
  display: flex;
  justify-content: center;
}

.notificationsicon {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificationscircle {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 100%;
  color: #8EDAFC;
}

.notificationsinfo {
  width: 280px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.notificationsinfo p {
  font-size: 18px;
}

.notificationsinfo u {
  color: rgb(65, 65, 65);
  cursor: pointer;
}

.search {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search label{
  background-color: white;
  width: 40px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.search input {
  height: 33px;
  width: 320px;
  font-size: 17px;
  margin: 7px 7px 7px 0;
  border-left: 0;
  border-top: 1px solid #F5F5F5;
  border-right: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  border-radius: 0px 3px 3px 0;
  padding-left: 10px;
}

.contacts {
  height: calc(100% - 70px - 50px - 80px) ;
  overflow-y: scroll;
}

.pippo {
  height: 80px;
  border-bottom: 1px solid rgb(215, 215, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pippo:hover {
  background-color: rgb(238, 238, 238);
}

.pippo h5{
  align-self: flex-end;
  font-weight: lighter;
  color: rgb(110, 110, 110);
  margin-right: 5px;
}

#activechat {
  background-color: rgb(220, 220, 220);
}

.contactpic {
  height: 100%;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactpic img {
  width: 57px;
  height: 57px;
}

.contactpreview {
  height: 100%;
  width: 270px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.contactpreview p {
  color: gray;
  font-size: 14px;
}

.contactpreview h3 {
  font-size: 20px;
}

/* blocco di chat */
.chat {
  height: 100%;
  width: 710px;
}

/* header/blocco con info chat */
.chatinfo {
  height: 70px;
  background-color: rgb(230, 228, 229);
  border-left: 1px solid rgb(187, 187, 187);
  display: flex;
  justify-content: space-between;
}

.contactinfo {
  height: 70px;
  width: 53%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactinfo img {
  margin-left: 10px;
  height: 55px;
}

.contactinfo p {
  color: grey;
}

.contactoptions {
  height: 70px;
  width: 15%;
  margin-right: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  color: gray;
}

/* blocco conversazione e relativi baloons */
.conversation {
  height: calc(100% - 70px - 70px);
  background-image: url(../img/sfondino.jpg);
  overflow-y: scroll;
  padding: 5% 10%;
}

.msgreceived {
  min-height: 70px;
  min-width: 20%;
  max-width: 60%;
  padding: 15px 15px 20px 15px;
  background-color: white;
  float: left;
  border-radius: 10px;
  clear: both;
  margin: 5px 0;
}

.msgsent  {
  min-height: 70px;
  min-width: 20%;
  max-width: 60%;
  padding: 15px 15px 20px 15px;
  background-color: #D5F9BA;
  float: right;
  border-radius: 10px;
  clear: both;
  margin: 5px 0;
}


/* footer/barra di invio messaggi */
.sendmsg {
  height: 70px;
  background-color: rgb(230, 228, 229);
  border-left: 1px solid rgb(187, 187, 187);
  display: flex;
  justify-content: space-around;
}

.emotes {
  height: 100%;
  width: 75px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.sendmsg {
  display: flex;
  align-items: center;
}

.sendmsg input {
  height: 50px;
  width: calc(100% - 160px);
  border-radius: 4px;
  padding: 15px;
}

.mic {
  height: 100%;
  width: 80px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
